@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
nav .navbar-brand
{
    font-size: xx-large;
}

nav .navbar-brand .green
{
    color: #2e944b;
}
nav .navbar-brand .white
{
    color: oldlace;
}
nav .navbar-brand .red
{
    color: #ea433b;
}

#logotitle
{
    font-family: 'Poppins', sans-serif;
}

/* index styling */
button
{
    display: flex;
    margin: auto;
    margin-top: 15px;
    background-color: #1db954;
    color: hwb(0 0% 100%);
    font-weight: 500;
    padding: 8px 32px;
    border-radius: 9999px;
    transition: 0.5ms;
    cursor: pointer;
}

button:hover
{
    background-color: hsl(110, 100%, 18%);
    color: white;
}

nav .nav-link
{
    color: white;
    transition: 0.5ms;
    font-weight: 500;
}

nav .nav-item:hover
{
    background-color: #1db954;
    border-radius: 9999px;
}

body
{
    background-color: #e1ece3;
}

input[type=url]
{
    border-radius: 2em;
    border-width: 1px;
    width: 500px;
    height: 50px;
    border-style: solid;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%);
    text-align: center;
    
}

input[type=url]:focus
{
    box-shadow: 0 0 0 4px #1db954;
}

#spotgreen
{
    color: #1db954;
}

.youtubered
{
    color: #FF0000;
}

#logo
{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

#logomain
{
    width: 200px;
    height: 200px;
}

#ordivision
{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #FF0000;
}

#abutton
{
    text-decoration: none;
}

/* getPlaylists styling */

#hello
{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.h1play
{
    display: block;  
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#drop
{
    width: 500px;
}

/* Failure page */

#fail
{
    width: 400px;
    height: 400px;
}

/* Success page */

#success
{
    width: 400px;
    height: 400px;
}