{% extends "layout.html" %}

{% block title %}
    Playlists
{% endblock %}

{% block main %}
    <p id="hello">Hello, <span class="youtubered">{{ username }}</span>.</p>
    <h1 class="h1play">Choose the playlist you want to convert:</h1>
    <p>The list of tracks per playlist is limited to 50 for now, because of the quota YouTube puts in web apps to search, create and add videos.</p>
    <form action="/convertPlaylist" method="post">
        <select id="drop" name="playlistid">
            {% for playlist in playlists %}
                <option value="{{ playlist.id }}">{{ playlist.name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit" value="Convert Playlist" onclick="showLoading()">Convert Playlist</button>
    </form>
    
    <!--Loading Screen-->
    <div id="overlay" class="overlay">
        <div class="loading-window">
            <div class="spinner"></div>
            <div class="loading-text">Loading<span class="dot1">.</span><span class="dot2">.</span><span class="dot3">.</span></div>
        </div>
    </div>
    <script src="/static/script.js"></script>
{% endblock %}