{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2>Convert <span id="spotgreen">Spotify</span> to <span class="youtubered">YouTube</span> Playlists</h2>
    <img id="logomain" src="/static/Spotlabs logo.png" alt="Spot Labs logo: a cassette tape using a headphone">
    <h3> Log in your Spotify account here:</h3>
    <a id="abutton" href="/login"><button>Log in to Spotify</button></a>
    <!-- TO BE DONE
    <p id="ordivision"> OR...</p>
    <h3>Paste the Spotify playlist link here:</h3>
    <form action="/convertPlaylistUrl" method="post">
        <input type="url" name="url" placeholder="https://open.spotify.com/playlist/..." pattern="https:\/\/open\.spotify\.com\/.*" title="The URL must start with https://open.spotify.com/">
        <button type="submit">Convert</button>
    </form> !-->

{% endblock %}

